.collection {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 92px;
}

.wox2020 {
    flex: 0 1 23%;
}

.wox2020__text {
    max-width: 151px;
    margin-bottom: 72px;
    font-family: 'STRRETCH SANS';
    font-weight: 400;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.44);
}

.wox2020__title {
    max-width: 280px;
    margin-bottom: 72px;
    font-family: 'STRRETCH SANS';
    font-weight: 400;
    font-size: 22px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.wox2020__link {
    display: flex;
    align-items: center;
}

.wox2020__link_text {
    margin-right: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 145%;
    color: #009ef8;
}

.wox2020__link_text:hover {
    transition: all 0.3s ease 0s;
    color: #005c8a;
}

.wox2020__link_arrow img:hover {
    transform: scale(1.2);
}

.catalogue__items {
    margin-bottom: -100px;
    flex: 0 1 auto;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.catalogue__item {
    padding: 0 10px;
    position: relative;
    margin-bottom: 100px;
}

.newcatalogue__image img {
    max-width: 100%;
    margin-bottom: 30px;
}

.newcatalogue__image img:hover {
    transition: all 0.6s ease 0s;
    transform: scale(1.03);
}

.nwcatalogue__svg {
    position: absolute;
    top: -23px;
    left: -24px;
}

.nwcatalogue__description {
    margin-bottom: 44px;
    font-family: 'STRRETCH SANS';
    font-weight: 400;
    font-size: 15px;
    line-height: 111.5%;
    color: #000000;
}

.catalogue__item_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newcatalogue__item_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newcatalogue__price {
    font-family: 'STRRETCH SANS';
    font-weight: 400;
    font-size: 15px;
    line-height: 111.5%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

.newcatalogue__link {
    text-align: end;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #009ef8;
}

.newcatalogue__link:hover {
    transition: all 0.3s ease 0s;
    color: #005c8a;
}

.newcatalogue__newprice {
    flex: 0 1 18.88%;
    font-family: 'STRRETCH SANS';
    font-weight: 400;
    font-size: 15px;
    line-height: 111.5%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #c10909;
}
.newcatalogue__sale {
    flex: 0 1 12.78%;
    position: relative;
}

.newcatalogue__prices {
    display: flex;
    align-items: center;
    gap: 0;
}
.newcatalogue__oldprice {
    margin-right: 21px;
    font-family: 'STRRETCH SANS';
    font-weight: 400;
    font-size: 15px;
    line-height: 111.5%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.51);
}
.newcatalogue__line {
    width: 57px;
    position: absolute;
    top: 7px;
    left: -6px;
    z-index: 2;
    border: 0.1px solid #000000;
    opacity: 0.6;
}
