.catalogue__items {
    margin-bottom: -100px;
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.catalogue__item {
    padding: 0 10px;
    position: relative;
    margin-bottom: 100px;
}

.newcatalogue__image img {
    max-width: 100%;
    margin-bottom: 30px;
}

.newcatalogue__image img:hover {
    transition: all 0.6s ease 0s;
    transform: scale(1.03);
}

.nwcatalogue__svg {
    position: absolute;
    top: -23px;
    left: -24px;
}

.nwcatalogue__description {
    margin-bottom: 44px;
    font-family: 'STRRETCH SANS';
    font-weight: 400;
    font-size: 15px;
    line-height: 111.5%;
    color: #000000;
}

.newcatalogue__item_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newcatalogue__sale {
    flex: 0 1 12.78%;
    position: relative;
}

.newcatalogue__oldprice {
    margin-right: 21px;
    font-family: 'STRRETCH SANS';
    font-weight: 400;
    font-size: 15px;
    line-height: 111.5%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.51);
}

.newcatalogue__line {
    width: 57px;
    position: absolute;
    top: 7px;
    left: -6px;
    z-index: 2;
    border: 0.1px solid #000000;
    opacity: 0.6;
}

.newcatalogue__newprice {
    flex: 0 1 18.88%;
    font-family: 'STRRETCH SANS';
    font-weight: 400;
    font-size: 15px;
    line-height: 111.5%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #c10909;
}

.newcatalogue__price {
    font-family: 'STRRETCH SANS';
    font-weight: 400;
    font-size: 15px;
    line-height: 111.5%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

.newcatalogue__link {
    text-align: end;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #009ef8;
}

.newcatalogue__link:hover {
    transition: all 0.3s ease 0s;
    color: #005c8a;
}

.newcatalogue__prices {
    display: flex;
    align-items: center;
    gap: 0;
}
