.header {
    margin: 29px auto 78px auto;
}

.header__wox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__leftside {
    flex: 0 1 35%;
    margin-left: 1px;
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 17px;
}

.header__dot {
    height: 5px;
    width: 5px;
    background: #000000;
    transform: rotate(-45deg);
    margin-right: 24px;
}

.header__brand {
    width: 72px;
    font-family: 'STRRETCH SANS';
    font-size: 8px;
    line-height: 129%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.header__center {
    flex: 0 1 32.9%;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 46px;
    padding: 0;
    margin: 0;
}

.header__nav_item {
    font-weight: 400;
    font-size: 13px;
    line-height: 111.5%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
}

.header__nav_item:hover {
    box-shadow: 0 2px 0 #818181;
}

.header__nav_item_active {
    font-weight: 900;
    font-size: 13px;
    line-height: 111.5%;
    letter-spacing: 0.05em;
    text-decoration: underline;
    text-transform: uppercase;
    color: #000000;
}

.header__rightside {
    flex: 0 1 32.9%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.header__language {
    background-color: #ffffff;
    font-weight: 400;
    font-size: 13px;
    line-height: 111.5%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-left: 21px;
    color: #000000;
}

.header__language_active {
    font-size: 14px;
    font-weight: 600;
}

.header__language:hover {
    box-shadow: 0 2px 0 #818181;
}

.header__basket {
    margin-left: 29px;
    position: relative;
    top: -1px;
    left: 0;
    transition: all 0.3s ease;
}

.header__basket:hover {
    transform: scale(1.17);
}

.header__hr {
    display: none;
}

.cart__add {
    position: absolute;
    top: -8px;
    right: -7px;
    background: #e88eff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 111.5%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #f5ffd7;
}

.none {
    display: none;
}

.menu__icon {
    display: none;
}

@media (max-width: 1030px) {
    .header {
        margin: 29px 25px 78px 25px;
    }
    .header__center {
        margin-left: 40px;
    }
}

@media (max-width: 768px) {
    .header {
        margin-bottom: 40px;
    }

    .header__center {
        margin: 0;
        position: fixed;
        z-index: 10;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .header__nav {
        margin-top: 30px;
        flex-direction: column;
        gap: 80px;
        justify-content: center;
    }

    .header__center._active {
        left: 0;
    }

    .header__item a {
        padding: 20px 30px;
        font-weight: 600;
        font-size: 26px;
        line-height: 111.5%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: beige;
    }

    .menu__icon {
        margin-left: 20px;
        z-index: 15;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 20%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background: black;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: '';
    }

    .menu__icon::before {
        top: 0;
    }
    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
        background-color: beige;
    }
    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
        background-color: beige;
    }

    .menu__icon._active::after {
        top: 50%;
        transform: rotate(45deg) translate(0px, 50%);
        background-color: beige;
    }
}

@media (max-width: 480px) {
    .header {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .header__rightside {
        margin-right: 0px;
        order: 3;
    }

    .header__leftside {
        order: 2;
        margin-left: 30px;
    }
    .menu__icon {
        order: 1;
        margin: 0 46px 0 0;
    }

    .header__dot {
        display: none;
    }
    .header__brand {
        display: none;
    }
    .header__logo {
        flex: 0 1 55%;
        margin-right: 0;
    }

    .header__logo img {
        width: 70%;
        height: 70%;
    }

    .header__hr {
        display: block;
        border: 1px solid black;
        opacity: 0.3;
        margin-top: 2px;
        margin-bottom: 20px;
    }
}
