.learnmore {
    display: flex;
}

.learnmore__body {
    flex: 1 1 37.5%;
    padding-right: 100px;
}

.learnmore__title {
    max-width: 260px;
    margin-bottom: 30px;
    font-family: 'STRRETCH SANS';
    font-weight: 400;
    font-size: 22px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.learnmore__title_text {
    font-size: 15px;
    font-weight: 400;
    line-height: 127%;
    letter-spacing: 0.05em;
}
.learnmore__title_text:not(:last-child) {
    margin-bottom: 25px;
}

.learnmore__link {
    display: flex;
    align-items: center;
}

.learnmore__link_text {
    margin-right: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 145%;
    color: #009ef8;
}

.learnmore__link_text:hover {
    transition: all 0.3s ease 0s;
    color: #005c8a;
}

.learnmore__link a img:hover {
    transform: scale(1.2);
}

.learnmore__link a img {
    position: relative;
    top: 1px;
}

.learnmore__image1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.learnmore__image2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
