.idea {
    margin-bottom: 73px;
    display: flex;
    align-items: flex-start;
}

.idea__image_big {
    flex: 0 1 30%;
    margin-right: 5%;
}

.idea__image_big img {
    max-height: 620px;
}

.idea__body {
    flex: 0 1 34.9%;
    margin-right: 8.75%;
}

.idea__title {
    margin-bottom: 29px;
    font-family: 'STRRETCH SANS';
    font-weight: 400;
    font-size: 22px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.idea__text {
    margin-bottom: 30px;
}

.idea__text p {
    font-weight: 400;
    font-size: 15px;
    line-height: 130.5%;
    letter-spacing: 0.05em;
}

.idea__text p:not(:last-child) {
    margin-bottom: 20px;
}

.idea__link {
    display: flex;
    align-items: center;
}

.idea__link_text:hover {
    transition: all 0.3s ease 0s;
    color: #005c8a;
}

.idea__link a img:hover {
    transform: scale(1.2);
}

.idea__link a img {
    position: relative;
    top: 1px;
}

.idea__link_text {
    margin-right: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 145%;
    color: #009ef8;
}

.idea__article {
    flex: 0 1 21.4%;
    background: #ffd7f6;
}

.idea__article_body {
}

.idea__article_title {
    margin: 50px 100px 20px 31px;
    font-family: 'STRRETCH SANS';
    font-weight: 400;
    font-size: 12px;
    line-height: 131%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.idea__article_text {
    margin: 0 32px 41px 31px;
    font-weight: 400;
    font-size: 14px;
    line-height: 139.5%;
    letter-spacing: 0.1em;
}

.idea__title_mobile {
    display: none;
}

@media (max-width: 1030px) {
    .idea__image_big {
        display: none;
    }
    .idea {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .idea__display_none {
        display: none;
    }
}
