.footer {
    margin: 268px 0 187px 0;
    display: flex;
    justify-content: space-between;
}

.footer__socials_inline {
    display: flex;
    justify-content: space-between;
}

.subscribe {
    flex: 0 1 38.3%;
}

.subscribe__title {
    margin-bottom: 35px;
    font-family: 'STRRETCH SANS';
    font-weight: 400;
    font-size: 40px;
    line-height: 140.5%;
}

.subscribe__email {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe__email_arrow img:hover {
    transform: scale(1.2);
}

.subscribe__email_text {
    margin-bottom: 11px;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.05em;
}

.subscribe__email_input {
    width: 270px;
    color: dimgray;
    margin-left: 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.05em;
    outline: 0;
}

.subscribe__email_arrow {
    background-color: #fff;
    position: relative;
    top: -6px;
}

.subscribe__email_arrow_disabled {
    background-color: #fff;
    position: relative;
    top: -6px;
    cursor: auto;
    opacity: 0.4;
}

.subscribe__socials {
    flex: 0 1 38.3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscribe__social_item {
    font-family: 'STRRETCH SANS';
    font-weight: 400;
    font-size: 15px;
    line-height: 140.5%;
    color: #000000;
}

.subscribe__social_item:hover {
    transform: scale(1.02);
    color: #000000;
}

.footer__links {
    flex: 0 1 31.66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__uls {
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 -10px 0px -10px;
}
.footer__uls ul {
    margin: 0;
    padding: 0;
}

.gethelp {
    padding: 0 10px;
}

.gethelp__title {
    margin-bottom: 20px;
    font-family: 'STRRETCH SANS';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140.5%;
}

.gethelp__ul li:not(:last-child) {
    margin-bottom: 8px;
}

.gethelp__item a {
    font-weight: 400;
    font-size: 16px;
    line-height: 140.5%;
    letter-spacing: 0.005em;
    color: #000000;
}

.gethelp__item a:hover {
    font-weight: 500;
}
.aboutus__item a:hover {
    font-weight: 500;
}

.aboutus {
    padding: 0 10px;
}

.aboutus__title {
    margin-bottom: 20px;
    font-family: 'STRRETCH SANS';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140.5%;
}

.aboutus__ul li:not(:last-child) {
    margin-bottom: 8px;
}

.aboutus__item a {
    font-weight: 400;
    font-size: 16px;
    line-height: 140.5%;
    letter-spacing: 0.005em;
    color: #000000;
}

.footer__allrights {
    flex: 0 1 31.66%;
}

.footer__badge {
    padding: 10px 0;
    font-size: 400px;
    position: fixed;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    background-color: #47c977;
    opacity: 0.8;
    color: white;
    font-size: 16px;
    text-align: center;
    transition: bottom ease 0.4s;
}

.none {
    bottom: -100%;
}

.hr {
    border: 0.5px solid #000;
}

.email__error {
    margin-top: 5px;
    color: red;
    font-size: 18px;
    opacity: 0.8;
}
