.notfound__container {
    margin: 150px auto 200px auto;
}

.notfound__title {
    font-size: 48px;
    font-weight: 800px;
    text-align: center;
    margin-bottom: 40px;
}

.notfound__button {
    margin: 0 auto;
    padding: 22px 48px;
    display: block;
    background: #e88eff;
    box-shadow: 0px 0px 10px #e6aaf5;
    font-family: 'STRRETCH SANS';
    font-weight: 400;
    font-size: 12px;
    line-height: 111.5%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
}

.notfound__button:hover {
    transition: all 0.3s ease 0s;
    background: #c75def;
    transform: scale(1.01);
    color: #ffffff;
}
